.env
.venv/
venv/
.r-library/
test-data/
data/
/train/highest_temperature_emos/
/train/model_artifacts/
/prediction/highest_temperature_emos/
refcode/
log.*
__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store%
.DS_Store
